<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.iabsis.datalogic.scanner"
        version="0.0.1">
    <name>Datalogic scanner</name>
    <description>Plugin to allow the use of datalogic scanner</description>
    <license>Apache 2.0</license>
    <keywords>cordova,plugin,datalogic,dl-axist</keywords>
    <repo>https://github.com/yourgithubname/cordova-alert-plugin.git</repo>
    <issue>https://github.com/yourgithubname/cordova-alert-plugin/issues</issue>
 
    <js-module src="www/plugin.js" name="Datalogic">
        <clobbers target="cordova.plugins.datalogic" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ScannerPlugin" >
            <param name="android-package" value="com.iabsis.datalogic.alert.ScannerPlugin"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/libs/datalogic.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ScannerPlugin.java" target-dir="src/com/iabsis/datalogic/listen"/>
    </platform>
</plugin>